ion-content {
  --background: #F9F9F9;
}

.username{
  font-weight: bold;
  font-size: larger;
}

.details{
  font-size: smaller;
  color: #C7CFD7;
}

ion-button{
  --background:#808080;
  color:#FFFFFF;
}