ion-button {
  --background: #ffffff;
  color: #f37e46;
  font-weight: bold;
}

ion-content {
  --background: #f2f4f9;
}

ion-row {
  justify-content: center;
}

.rewards-table {
  width: 80%;
  padding: auto;
  margin-top: 15px;
}

.desc {
  font-weight: lighter;
  color: #808080;
  font-size: smaller;
}

.points {
  color: #ffffff;
  background-color: #f37e46;
  font-weight: bold;
  padding: 1px;
  border-radius: 4px;
}

ion-img {
  height: 92px;
  width: 106px;
}

.rewards-thumbnail {
  height: 42px;
  width: 56px;
  margin: auto;
}
